parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierAgility \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/AttackerItemStatsModifier.php

		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierAttack \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/AttackerItemStatsModifier.php

		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierDefense \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/AttackerItemStatsModifier.php

		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierAgility \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/DefenderItemStatsModifier.php

		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierAttack \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/DefenderItemStatsModifier.php

		-
			message: '#^Property App\\Domain\\ValueObject\\Item\:\:\$modifierDefense \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Domain/Pipeline/Modifier/DefenderItemStatsModifier.php

		-
			message: '#^Instanceof between App\\Domain\\ValueObject\\Item and App\\Domain\\ValueObject\\Item will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Domain/ValueObject/CharacterLoadout.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: src/Infrastructure/Persistence/Doctrine/DoctrineGameConfigRepository.php
