includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- src
	doctrine:
		objectManagerLoader: tests/phpstan-doctrine-object-manager.php
	symfony:
		containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
